.container {
    -fx-background-color: "#FFFFFF";
    -fx-background-radius: 20;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.08), 30, 0, 0, 0);
}

.gradient-bar {
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: linear-gradient(to right, #FFD770, #FF9D87);
}

.title-text {
    -fx-font-size: 24;
    -fx-fill: "#FFFFFF";
}

.input-box {
    -fx-background-color: "#FFFFFF";
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: "#C4C4C4";
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.08), 30, 0, 0, 0);
    -fx-font-size: 20;
    -fx-focus-traversable: "false";
}

.input-box-disabled {
    -fx-background-color: "#EEEEEE";
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: "#C4C4C4";
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.08), 30, 0, 0, 0);
    -fx-font-size: 20;
}

.text {
    -fx-font-size: 20;
    -fx-fill: "#8E8E8E";
}

.btn-text {
    -fx-fill: "#CC9300";
    -fx-font-size: 20;
}

.change-pass-btn:hover .btn-text {
    -fx-fill: "#ECBC41";
}